<h3>Rxjs OPerators</h3>

<button (click)="combine_Latest()">combine_Latest</button><br><br>
<button (click)="concat()">concat</button><br><br>
<button (click)="takelast()">takeLast</button><br><br>
<button (click)="Skip()">Skip</button><br><br>
<button (click)="switchmap()">switchmap</button><br><br>
<button (click)="concatmap()">concatmap</button><br><br>
<button (click)="mergemap()">mergemap</button><br><br>
<button (click)="filter()">filter</button><br><br>
<button (click)="array()">array</button><br><br>
<button (click)="max()">max</button><br><br>
<!-- <button (click)="fetchUsers()">retry</button><br><br> -->